.note{
  padding: 25px;
  height: 200px;
  width: 260px;
  display:flex;
  flex-direction: column;
  background-color: #b39038;
  border-radius:30px;
}

.note_text{
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size:1rem;
  line-height:1.875rem; 
  outline: none;
  border: none;
}