*{
  font-family: 'Montserrat', sans-serif;
}
.note{
  padding: 25px;
  height: 200px;
  width: 260px;
  display:flex;
  flex-direction: column;
  background-color: #b39038;
  border-radius:30px;
}

.note_text{
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size:1rem;
  line-height:1.875rem; 
  outline: none;
  border: none;
}

.note_footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.note_footer img{
  width:25px;
  cursor:pointer;
  opacity:0;
  transition:300ms;
}

.note:hover .note_footer img{
  opacity:1;
}